<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/about.css">
    <title>About</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="about-container">
        <div class="about-asim">
            <h1>About Asim Flashcard</h1>
            <p>Asim is a web flashcards application that will maximize all learners’ productivity and provide comprehensive support for their learning experience. The main feature of this app is flashcards using modern and intuitive UI/UX design. It reminds users to review already created cards based on the forgetting curve. Additionally, Asim is integrated with other study support tools such as a Pomodoro timer, grade calculator, to-do lists, etc. These features are delivered via a variety of visualizations so that users can intuitively get a tight grip on their progress and plan their studies more effectively.</p>
        </div>
        <div class="about-us">
            <h1>About us</h1>
            <p>We are a group of students studying computer science at the University of Texas at Dallas. As college students, studying efficiently is always important but also challenging. Through our flashcards app, Asim, we aim to simplify everyone’s daily learning process by providing a built-in visualization of study records, a science-backed review reminder system, as well as other useful features that will boost users’ learning productivity</p>
        </div>
    </div>
    </body>
</html>