{% extends 'layout.html' %}

{% block title %}Asim Flashcards{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/styles/card.css">
{% endblock %}

{% block body %}
  <ul>
    <div class="card-container card" onclick="navigateToFlashcards('automata-theory')">
      Automata Theory
      <ul style=
      "display: flex;
      flex-direction:
      column;
      justify-content: center;
      margin-top: 50px;">
        <div class="status-container new">
          <span class="num">43</span>
          new
        </div>
        <div class="status-container review">
          <span class="num">29</span>
          review
        </div>
      </ul>
    </div>
    <div class="card-container add">
      <div>
        <div class="vertical"></div>
        <div class="horizontal"></div>
      </div>
    </div>

  </ul>
  <div id="add-deck-modal-background">
    <div id="add-deck-container" class="add-deck-container">
      <div id="modal-add" class="add-deck-modal-content">
        <p class="add-deck-title">Add a new deck</p>
        <span class="close">&times;</span>
        <textarea id="name" placeholder="Deck Name" rows="1"></textarea>
        <button id="add-deck-btn">Create</button>
      </div>
    </div>
  </div>




  <script>
    function navigateToFlashcards(deckId) {
      window.location.href = `start?deck=${deckId}`;
    }
  </script>
   <script src="/scripts/home.js"></script>
{% endblock %}
