{% extends 'layout.html' %}

{% block title %}Asim Flashcards{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/styles/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block body %}
<div class="home-container">
  <ul class="all-decks" id="decks-list">
    <!-- Decks will be populated through JavaScript -->
    <li>
      <div class="card-container add">
        <div>
          <div class="vertical"></div>
          <div class="horizontal"></div>
        </div>
      </div>
    </li>
  </ul>
  <div id="add-deck-modal-background">
    <div id="add-deck-container" class="add-deck-container">
      <div id="modal-add" class="add-deck-modal-content">
        <p class="add-deck-title">Add a new deck</p>
        <span class="close">&times;</span>
        <textarea id="name" placeholder="Deck Name" rows="1"></textarea>
        <button id="add-deck-btn">Create</button>
      </div>
    </div>
  </div>
  <div id="deck-data" style="display: none;" 
    {% for deck in deck_list %}
    data-deck{{ loop.index }}="{{ deck.deck_name }}|{{ deck.new_cards }}|{{ deck.review_cards }}"
    {% endfor %}
  ></div>
</div>
  
  <script>
    function navigateToFlashcards(deckId) {
      window.location.href = `start?deck=${deckId}`;
    }
  </script>
  <script src="/scripts/home.js"></script>
{% endblock %}
