<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My HTML Page</title>
  <link rel="stylesheet" href="/static/styles/card.css">
</head>
<body>
  <! this will turn into a loop that displays class card-container 
  for all decks >
  <ul>
    <div class="card-container" onclick="navigateToFlashcards('automata-theory')">
      Automota Theory
      <ul style=
      "display: flex; 
      flex-direction: 
      column; 
      justify-content: center; 
      margin-top: 50px;">
        <div class="status-container new">
          <span class="num">43</span>
          new
        </div>
        <div class="status-container review">
          <span class="num">29</span>
          review
        </div>
      </ul>
    </div>
  </ul>

  <script>
    function navigateToFlashcards(deckId) {
      window.location.href = `start.html?deck=${deckId}`;
    }
  </script>
</body>
</html>
