<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Asim Flashcards</title>
  <link rel="stylesheet" href="/styles/main.css">
  <meta property="og:title" content="Asim Flashcards">
  <meta property="og:description" content="Asim is a spaced repetition study tool that aims to help you study more effectively">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="./home.html">Home</a></li>
        <li><a href="./templates/calendar.html">Flashcards</a></li>
        <li><a href="./templates/settings.html">Settings</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
