<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <h1 id="title"><a href="/">Asim</a></h1>
    <div class="login-container">
        <h1 id="login-text">Log in</h1>
        <!--Action is not specified yet-->
        <form id="login-form">
            <div class="form-container">
                <label for="email" class="form-text">Email</label>
                <br>
                <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="form-container">
                <label for="password" class="form-text">Password</label>
                <br>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="button-container">
                <input type="submit" value="Log in" id="button">
            </div>
        </form>
        <div class="link-to-login">
            <p>Don't have an account?</p>
            <a href="/signup" id="login-link">Sign up</a>
        </div>
    </div>
    <script>
        document.querySelector('#login-form').addEventListener('submit', e => {
            e.preventDefault();
            const data = new URLSearchParams(new FormData(document.querySelector('#login-form')));
            fetch('/login_user', {
                method: 'POST',
                body: data,
            }).then(response => response.json()).then(data => {
                if (data !== 'Success') alert(data);
                else location.href = '/settings';
            });
        });
    </script>
</body>
</html>
