<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Signup</title>
</head>
<body>
    <h1 id="title">Asim</h1>
    <div class="signup-container">
        <h1 id="signup-text">Sign up</h1>
        <form id="signup-form">
            <div class="form-container">
                <label for="username" class="form-text">User Name</label>
                <br>
                <input type="text" name="username" id="username" placeholder="User name" autocomplete="off" required>
            </div>
            <div class="form-container">
                <label for="password" class="form-text">Password</label>
                <br>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="form-container">
                <label for="confirm_password" class="form-text">Confirm Password</label>
                <br>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
            </div>
            <div class="button-container">
                <input type="submit" value="Sign up" id="button">
            </div>
        </form>
        <div class="link-to-login">
            <p>Already have an account?</p>
            <a href="/login" id="login-link">Log in</a>
        </div>
    </div>
    <script>
        document.querySelector('#signup-form').addEventListener('submit', e => {
            e.preventDefault();
            const data = new URLSearchParams(new FormData(document.querySelector('#signup-form')));
            fetch('/signup_user', {
                method: 'POST',
                body: data,
            }).then(response => response.json()).then(data => {
                if (data !== 'Success') alert(data);
                else location.href = '/';
            });
        });
    </script>
</body>
</html>
