<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <h1 id="title">Asim</h1>
    <div class="signup-container">
        <h1 id="signup-text">Sign up</h1>
        <form action="" name="Form" method="post" id="signup-form" required onsubmit="return validateForm()">
            <div class="form-container">
                <label for="username" class="form-text">User Name</label>
                <br>
                <input type="text" name="username" id="username" placeholder="User name">
            </div>
            <div class="form-container">
                <label for="newpass" class="form-text">Password</label>
                <br>
                <input type="password" name="newpass" id="newpass" placeholder="New password">
            </div>
            <div class="form-container">
                <label for="confirmpass" class="form-text">Confirm Password</label>
                <br>
                <input type="password" name="confirmpass" id="confirmpass" placeholder="Confirm password">
            </div>
            <div class="button-container">
                <input type="submit" value="Sign up" id="button">
            </div>
        </form>
        <div class="link-to-login">
            <p>You already have an account?</p>
            <a href="/login" id="login-link">Log in</a>
        </div>
    </div>
    <script>
        function validateForm() {
            var uname = document.forms["Form"]["username"].value;
            var currpass = document.forms["Form"]["currpass"].value;
            var newpass = document.forms["Form"]["newpass"].value;
            var cpnfirmpass = document.forms["Form"]["confirmpass"].value;
            if (uname == "" || uname == null || currpass == "" || currpass == null 
            || newpass == "" || newpass == null|| cpnfirmpass == "" || cpnfirmpass == null ) {
                alert("User name and password must be filled out");
                return false;
            }
        }
    </script>
</body>
</html>