{% extends 'layout.html' %}

{% block title %}Flashcards | Asim Flashcards{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/styles/start.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/styles/darkmode.css">
  {% endblock %}

{% block body %}
  <div class="page-container">
    <span class="deck-title"></span>
    <button class="start-btn" onclick="navigateToQuiz(deckId)">Start</button>
    <div id="flashcard-container">
      <!-- This is where the flashcards will be displayed -->
    </div>

    <div id="add-flashcard-modal" class="add-flashcard-modal-background">
      <div class="add-flashcard-modal-container">
        <div class="add-flashcard-modal-content">
          <span class="close">&times;</span>
          <h2 id="title">Add Flashcard</h2>
          <div class="form-container">
            <textarea id="front" placeholder="Front Content" name="front" rows="4"></textarea>
            <textarea id="back" placeholder="Back Content" name="back" rows="4"></textarea>
            <input type="submit" id="add-flashcard-btn" value="Add">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/start.js"></script>
{% endblock %}
