{% extends 'layout.html' %}

{% block title %}Study | Asim Flashcards{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/styles/study.css">
  <link rel="stylesheet" href="/styles/darkmode.css">
{% endblock %}

{% block body %}
  <span class="deck-title"></span>
  <div class="container" id="flashcard-container">
    <!-- Flashcards will be appended here -->
  </div>
  <div class="button-container" id="button-container">
    <input type="button" class="button" id="hard" value="Hard">
    <input type="button" class="button" id="okay" value="Okay">
    <input type="button" class="button" id="good" value="Good">
    <input type="button" class="button" id="easy" value="Easy">
  </div>
  <script src="/scripts/study.js"></script>
{% endblock %}
