body {
    font-family: 'Abhaya Libre', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.button-container, #title{
    text-align: center;
}

#title {
    font-size: 50px;
    margin: 15px 0;
}

a {
  text-decoration: none;
  border-radius: 10px;
  color: black;
  padding: 0 5px 0 5px;
  transition: background-color .2s;
}

#title a:hover {
  background-color: rgb(239, 239, 239);
}

.login-container, .signup-container {
    margin: 25px 35%;
}

.form-container {
    margin: 20px 0;
}

#login-text, #signup-text {
    margin: 0;
    font-size: 30px;
}

.form-text {
    font-size: 20px;
}

input {
    font-size: 20px;
    font-family: inherit;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    border: none;
    background-color: #F8D9D9;
    padding: .5rem 1rem;
    outline-color: #fd99aa;
}

#button {
    margin-top: 20px;
    border-radius: 21px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #FBB8B8;
    color: #1E1E1E;
    font-family: inherit;
    border: none;
    border-color: none;
    cursor: pointer;
    outline: none !important;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
}

#button:hover{
    background-color: #FE7C7C;
    color: #2B2B28;
}

.link-to-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-link {
    margin: 0 5px;
}
