@font-face {
    font-family: 'Abhaya Libre SemiBold';
    src: url('/styles/AbhayaLibre-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*clear the default padding*/
* {
    padding: 0;
}

/*clear the default margin*/
p {
    margin: 0;
}

.settings-wapper {
    padding: 30px 50px;
    font-family: 'Abhaya Libre SemiBold';
    background-color: white;
    color: black;
}


.settings-container {
    margin-bottom: 50px;
}

/*Image hover effect*/
figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure:hover img {
	opacity: .5;
}

/*Username, email and password section*/
#name-email-container {
    margin-bottom: 20px;
}

.name-email-text-container, .password-text-container {
    margin: 15px 0;
}

#user-name {
    font-size: 50px;
}

#user-email, #user-password {
    font-size: 20px;
}

.form-container {
    margin-bottom: 10px;
}

.info-form {
    margin: 15px 0;
    font-size: 20px;
}

.info-form-input {
    margin: 5px 0;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #F8D9D9;
    outline-color: #fd99aa;
    padding-left: 8px;
}

.form-button, .settings-info-button, .settings-timer-button {
    font-family: inherit;
    padding: 1px 0;
    background-color: #FBB8B8;
    border-radius: 21px;
    width: 60px;
    height: 25px;
    border-color: none;
    cursor: pointer;
    color: #4B4A4A;
    border: none;
    transition-duration: 0.4s;
    outline: none !important;
    text-align: center;
    display: inline-block;
    font-size: 15px;

}

.form-button:hover, .settings-info-button:hover, .settings-timer-button:hover {
    background-color: #FE7C7C;
    color: #2B2B28;
}

/* Scheme, darkmode, and timer titiles*/
.settings-item-title-container {
    margin: 20px 0;
    height: 50px;
    text-align: center;
}

.settings-item-icon{
    float: left;
    height: 40px;
    margin: auto;
    display: block;
}
.settings-item-title {
    margin: 0 20px;
    float: left;
    height: 60px;
    font-size: 40px;
}

/*Color scheme*/

.color-scheme-container {
    text-align: center;
}

#settings-scheme-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color-scheme-pannel{
    margin: 0 10px;
    display: inline-block;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

figure {
    margin: 0;
}

.scheme {
    width: 80%;
    height: auto;
}

#scheme-text {
    margin: 20px 0;
    font-size: 20px;
}

@media (max-width: 768px) {
    #settings-scheme-body-container {
      flex-wrap: wrap; /* Set flex-wrap property to wrap items */
    }

    #settings-scheme-body-container .color-scheme-pannel {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
    }
  }



/*Darkmode*/
#settings-darkmode-body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.darkmode-container {
    flex: 0 0 calc(45% - 40px);
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.darkmode-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


@media (max-width: 767px) {
    #settings-darkmode-body-container {
        flex-direction: column;
        align-items: center;
    }

    .darkmode-container {
        flex: 0 0 calc(100% - 20px);
    }

    .darkmode-container img {
        width: 60%;
    }
}

/*Timer*/
#set-text {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}

.setting-timer-container {
    font-size: 35px;
    margin-bottom: 10px;
}

#settings-set-display {
    margin-bottom: 10px;
}

.settings-timer-buttons-container {
    display: flex;
}

.settings-timer-button-container {
    margin-right: 5px;
}

#start, #stop {
    margin-right: 5px;
}

.set-text {
    font-size: 20px;
}

#set {
    font-family: inherit;
    margin-right: 10px;
    width: 40px;
    height: 25px;
    text-align: center;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    padding-left: 1px;
}

#completed, #total {
    margin: 0 5px;
}

#completed {
    margin-left: 10px;
}

#mode {
    margin-left: 10px;
}

/*Log out*/
#settings-logout {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 25px;
}
