* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abhaya Libre', serif;
    font-size: 1rem;
    background-color: whitesmoke;
    color: black;;
}

.items-container {
    width: 90%;
    margin: auto;
}

.modal {
    height: 300px !important;
}

#password-error {
    color: #ca0000;
}

p {
    font-size: 20px;
    margin-bottom: 3px;
}

.password-form, .name-email-form {
    border-radius: 5px;
    border: none;
    background-color: #F8D9D9;
    padding-left: 8px;
}

label, .password-form, .user-email-form {
    display: block;
}


.password-container, .user-info-container{
    font-size: 20px;
    margin-bottom: 10px;
}

#user-name-text {
    font-size: 50px;
}
#user-emain-text{
    margin-bottom: 5px;
}

.button{
    text-align: center;
    display: inline-block;
    margin: 3px 0;
    padding: 3px 0;
}
.button {
    padding: 1px 0;
    background-color: #FBB8B8;
    border-radius: 21px;
    width: 80px;
    height: 30px;
    border-color: none;
    text-align: center;
    cursor: pointer;
    color: #4B4A4A;
    border: none;
    transition-duration: 0.4s;
    outline: none !important;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
.button:hover{
    background-color: #FE7C7C;
    color: #2B2B28;
}

.color-scheme-container {
    text-align: center;
}

#color-shceme-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color-scheme-pannel{
    margin: 0 10px;
    display: inline-block;
    max-width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    #color-shceme-body {
      flex-wrap: wrap; /* Set flex-wrap property to wrap items */
    }

    #color-shceme-body .color-scheme-pannel {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
    }
  }


#darkmode-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.darkmode-container {
    flex: 0 0 calc(45% - 40px);
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.darkmode-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


@media (max-width: 767px) {
    #darkmode-body {
        flex-direction: column;
        align-items: center;
    }

    .darkmode-container {
        flex: 0 0 calc(100% - 20px);
    }

    .darkmode-container img {
        width: 60%;
    }
}


.item-title-container {
    margin: 20px 0;
    height: 50px;
    text-align: center;
}


.item-icon {
    float: left;
    height: 40px;
    margin: auto;
    display: block;
}
.item-title {
    margin: 0 20px;
    float: left;
    height: 60px;
    font-size: 40px;
}

#logout-container {
    margin: auto;
    margin: 30px 0;
    text-align: center;
}

#set-display {
    font-size: 20px;
}
.set-count {
    margin-right: 10px;
    width: 55px;
    height: 40px;
    text-align: center;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 30px;
    display: inline-block;
    padding-left: 1px;
}

.set-count::-webkit-outer-spin-button,
.set-count::-webkit-inner-spin-button {
    opacity: 1;
    width: 5px;
}


.logout {
    font-size: 30px;
    color: #2B2B28;
}

figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure:hover img {
	opacity: .5;
}

.light-mode {
    background-color: white;
    color: black;
}

#set-text {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}

.timer {
    font-size: 35px;
    margin-bottom: 10px;
}

#count-display {
    margin-bottom: 10px;
}

.timer-button-wrapper {
    display: flex;
}

#start, #stop {
    margin-right: 5px;
}

#mode {
    margin-right: 5px;
}
