@font-face {
    font-family: 'Abhaya Libre SemiBold';
    src: url('/styles/AbhayaLibre-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Abhaya Libre SemiBold';
}

.page-container {
  padding: 0 30px 150px 30px;
}

#flashcard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
    max-width: 100%;
    margin: 10px auto;
  }
  


.flashcard {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    max-width: 325px;
    height: 170px;
    padding: 20px;
    box-shadow: 0px 3px 10px -5px rgba(182, 182, 182, 0.4), 0px 14px 14px -8px rgba(72, 72, 72, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border: 8px solid rgba(187, 187, 187, 0);
    outline-offset: -10px;
    margin: 10px 30px;
    border-radius: 23px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    outline-offset: -10px;
}

.flashcard:hover {
    border: 8px solid rgba(187, 187, 187, 0.4);
  }


.deck-title {
    position: relative;
    left: 30px;
    font-size: 30px;
    color: #686868;
}

.start-btn {
    background-color: #b1a0a0;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Abhaya Libre SemiBold';
    font-size: 25px;

    position: absolute;
    right: 140px;
    top: 25px;
}

  
.start-btn:hover {
    background-color: #928484;
}


.vertical, .horizontal {
    position: absolute;
    background-color: #BDBDBD;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .vertical {
    width: 10px;
    height: 60px;
  }
  
  .horizontal {
    width: 60px;
    height: 10px;
  }
  
  .horizontal:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 60px;
    background-color: #BDBDBD;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .vertical:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 10px;
    background-color: #BDBDBD;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  .trash-icon-background {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #8BC3F6;
    border-radius: 50%;
    border: 1px solid #009ACB;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    visibility: hidden;
    bottom: 5px;
    right: 5px;
  }
  
  .trash-icon {
    position: relative;
    width: 20px;
    height: 20px;
    color: #009ccb94;
    font-size: 16px;
    cursor: pointer;
  }

  .flashcard:hover .trash-icon-background {
    visibility: visible;
  }
  
  


  /*----add flashcard modal----*/
.add-flashcard-modal-background {
    position: fixed;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.5);
    z-index: 2;
  }

  .add-flashcard-modal-container {
    font-size: 28px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    width: 80%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.5s;
    padding: 0 20px;
    border-radius: 20px;
  }
  
  .add-flashcard-modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 0;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #title {
    margin-bottom: 0px;
  }

  .form-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #front,
  #back {
    width: calc(100% - 30px);
    height: 40%;
    border-radius: 10px;
    border: 2px solid rgb(162, 162, 162, 0.5);
    padding: 5px;
    font-size: 18px;
    text-align: left;
    resize: none;
    overflow: auto;
    margin-bottom: 0px;
  }
  

  #add-flashcard-btn {
    background-color: #c2a8a8;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'Abhaya Libre SemiBold';
    font-size: 25px;
    align-self: center;
    width: 90px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
  }

  #add-flashcard-btn:hover {
    background-color: #a18b8b;
  }


  .confirmation {
    background-color: rgb(104, 199, 247);
    color: white;
    padding: 5px;
    border-radius: 7px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    font-size: 20px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .error {
    background-color: rgb(255, 89, 89);
    color: white;
    padding: 5px;
    border-radius: 7px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    z-index: 3;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  
  
  